body {
  margin: 0;
}

.banner{
  /*background: url(./banner.jpg) no-repeat 0px 0px;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
}
  
.logo{
  float:left;
  padding-left: 5%;
}
.logo a{
  color: #FFF;
  font-size: 6em;
  font-family: 'Dorsa-Regular';
  text-decoration: none;
  letter-spacing: 2px;
}
.icons{
  float:right;
  padding-right: 20px;
}
.icons ul{
  padding: 0;
  margin: 3em 0 0 0;
}
.icons ul li{
  display:inline-block;
  margin:0 .3em;
}
.icons ul li a.facebook{
  background:url(../images/social.png) no-repeat 0px 0px;
  width:40px;
  height:40px;
  display:block;
}
.icons ul li a.twitter{
  background: url(../images/social.png) no-repeat -41px 0px;
}
.icons ul li a.chrome{
  background:url(../images/social.png) no-repeat -82px 0px;
}
.icons ul li a.dribbble{
  background:url(../images/social.png) no-repeat -123px 0px;
}
.icons ul li a.pinterest{
  background:url(../images/social.png) no-repeat -164px 0px;
}
.icons ul li a.facebook:hover{
  opacity:.5;
}
.top-nav {
  text-align: center;
  padding: 1em 0 1em 0;
  border-top: ridge 1px rgba(255, 255, 255, 0.62);
  z-index: 10;
  position: relative;
}
.top-nav ul {
  padding: 0;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
  margin: 0 2em;
}
.top-nav ul li a.active {
  border-top: solid 2px #ffcc33;
  color: #ffcc33;
}
.top-nav ul li a {
  color: #FFFFFF;
  font-size: 2em;
  letter-spacing: 3px;
  margin: 0;
  font-weight: 600;
  font-family: 'Dorsa-Regular';
  text-decoration: none;
  padding: .7em 0 0 0;
}
.top-nav ul li a:hover{
  border-top: solid 2px #ffcc33;
  color: #ffcc33;
}   
