/* 代码整理：懒人之家 www.lanrenzhijia.com  转载请注明出处 */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}
a {
	color: #549688;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
a:hover,  a.selected {
	color: #ffcc00;
}
h1, h2, h4, h5, h6 {
	text-align: left;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
h1 {
	font-size: 14px;
}
h2 {
	font-size: 12px;
}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}
#lrzj_x {
	width: 1000px;
	height: 350px;
	overflow: hidden;
	margin: 100px auto;
	position: relative;
	background: url('../timeline/dot.gif') left 45px repeat-x;
}
#dates {
	width: 800px;
	height: 80px;
	overflow: hidden;
	/*margin-left: 50px ! important ;*/
	/*margin-right: 50px ! important ;*/
	margin-top: 14px ! important ;

}
/* 代码整理：懒人之家 www.lanrenzhijia.com  转载请注明出处 */
#dates li {
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	font-size: 15px;
	text-align: center;
	background: url('../timeline/biggerdot.png') center bottom no-repeat;
}
#dates a {
	line-height: 38px;
	/*padding-bottom: 10px;*/
}
#dates .selected {
	font-size: 20px;
}
#lrzj_line {
	width: 1000px;
	height: 350px;
	overflow: hidden;
}
#lrzj_line li {
	width: 1000px;
	height: 350px;
	list-style: none;
	float: left;
}
#lrzj_line li img {
	float: left;
	margin: 20px 30px 50px 80px;
}
#lrzj_line li h1 {
	color: #549688;
	font-size: 30px;
	/*margin: 20px 0;*/
	margin-top: 20px;
	text-shadow: #000 1px 1px 2px;
}
#lrzj_line li p {
	font-size: 14px;
	margin-right: 70px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: #000 1px 1px 2px;
}
#grad_left,  #grad_right {:;
	width: 100px;
	height: 350px;
	position: absolute;
	top: 0;
}
#grad_left {
	left: 0;
	background: url('../timeline/grad_left.png') repeat-y;
}
#grad_right {
	right: 0;
	background: url('../timeline/grad_right.png') repeat-y;
}
#next,  #prev {
	position: absolute;
	top: 0;
	font-size: 70px;
	top: 140px;
	width: 22px;
	height: 38px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover,  #prev:hover {
	background-position: 0 -76px;
}
#next {
	right: 0;
	background-image: url('../timeline/next.png');
}
/* 代码整理：懒人之家 www.lanrenzhijia.com  转载请注明出处 */
#prev {
	left: 0;
	background-image: url('../timeline/prev.png');
}
#next.disabled,  #prev.disabled {
	opacity: 0.2;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com  转载请注明出处 */